* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    color: #666;
    background-color: #f8f8f8;
}

#container {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid #6b8e23; /* This is for styling sake */
}

.get-started {
   
    width: 570px;
    margin: 20px auto;
}

img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

input[type="text"] {
    font-size: 17px;
    padding-left: 10px;
    color: #666;
}

input[type="email"] {
    font-size: 17px;
    padding-left: 10px;
    color: #666;
}

input[type="password"] {    
    padding-left: 10px;    
}

.input-field {
    width: 98%;
    border-style: none;
    border-bottom: 2px solid #6b8e23;
    line-height: 25px;
    background-color: #f8f8f8;
}

.input-field:hover {
    border: 2px solid #6b8e23;  
    border-radius: 5px;    
}



.input {
    margin-bottom: 20px;
    color: #6b8e23;
    font-weight: bold;
    
}

/* Styling the button */
button {
    width: 98%;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #6b8e23;
    border: none;
    color: whitesmoke;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {    
    background-color: #436303;
    color: #fff;    
}



